body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #00bfff;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 20px;
}

article {
    background: white;
    padding: 15px;
    margin-top: 15px;
}
